#upload-photo--container {
  #pic,
  #uploaded-photo,
  #cropped-photo {
    display: none;
  }

  .btn {
    &.waves-effect {
      background-image: unset;
      background-color: #000;
    }
  }

  &.ready {
    #uploaded-photo {
      display: block;
      margin-top: 16px;

      .cr-boundary {
        height: 350px !important;
      }
    }
  }
}
