#signature {
  position: relative;
  width: 600px;
  max-width: 600px;
  min-width: 600px;
  height: 250px;
  max-height: 250px;
  min-height: 250px;
  font-family: 'Fira Sans', sans-serif;
  font-size: 14px;
  background: #fff;

  tbody {
    tr {
      border: none;

      td {
        padding: 0;

        .signature-col-left,
        .signature-col-right,
        .signature-col-right2 {
          margin: 32px;
        }

        .signature-col-left {
          .signature-pic {
            width: 125px;
            box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.75);
          }

          .signature-name {
            padding: 8px 0 0;
            font-size: 14px;
            font-weight: bold;
          }

          .signature-role {
            font-size: 12px;
            font-weight: lighter;
          }

          .signature-socials {
            ul {
              height: 24px;
              margin: 16px 0 0;

              li {
                &.signature-social--container {
                  display: inline-block;
                  width: 24px;
                  height: 24px;
                  margin-right: 8px;

                  .signature-social {
                    width: 24px;
                  }
                }
              }
            }
          }
        }

        .signature-col-right {
          height: 100%;
          color: #fff;
          background: #212121;

          tr {
            &:first-child {
              td {
                padding-top: 24px;
              }
            }

            &:last-child {
              td {
                padding-top: 16px;
              }
            }

            td {
              padding: 0 24px 16px;

              .signature-icons {
                display: inline-block;
                width: 16px;
                margin-right: 16px;
                vertical-align: middle;
              }

              .signature-icons + span {
                display: inline-block;
              }

              .company-logo {
                width: 75px;
              }
            }
          }
        }

        .signature-col-right2 {
          background: #212121;

          img {
            height: 218px;
            width: 52px;
          }
        }
      }
    }
  }
}