.btn.waves-effect {
  background-image: linear-gradient(45deg, #e1cb5e, #d6bc4f 37%, #d4b84c 60%, #bf9b30);
}

#upload-photo--container #pic,
#upload-photo--container #uploaded-photo,
#upload-photo--container #cropped-photo {
  display: none;
}
#upload-photo--container .btn.waves-effect {
  background-image: unset;
  background-color: #000;
}
#upload-photo--container.ready #uploaded-photo {
  display: block;
  margin-top: 16px;
}
#upload-photo--container.ready #uploaded-photo .cr-boundary {
  height: 350px !important;
}

#signature {
  position: relative;
  width: 600px;
  max-width: 600px;
  min-width: 600px;
  height: 250px;
  max-height: 250px;
  min-height: 250px;
  font-family: "Fira Sans", sans-serif;
  font-size: 14px;
  background: #fff;
}
#signature tbody tr {
  border: none;
}
#signature tbody tr td {
  padding: 0;
}
#signature tbody tr td .signature-col-left,
#signature tbody tr td .signature-col-right,
#signature tbody tr td .signature-col-right2 {
  margin: 32px;
}
#signature tbody tr td .signature-col-left .signature-pic {
  width: 125px;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.75);
}
#signature tbody tr td .signature-col-left .signature-name {
  padding: 8px 0 0;
  font-size: 14px;
  font-weight: bold;
}
#signature tbody tr td .signature-col-left .signature-role {
  font-size: 12px;
  font-weight: lighter;
}
#signature tbody tr td .signature-col-left .signature-socials ul {
  height: 24px;
  margin: 16px 0 0;
}
#signature tbody tr td .signature-col-left .signature-socials ul li.signature-social--container {
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-right: 8px;
}
#signature tbody tr td .signature-col-left .signature-socials ul li.signature-social--container .signature-social {
  width: 24px;
}
#signature tbody tr td .signature-col-right {
  height: 100%;
  color: #fff;
  background: #212121;
}
#signature tbody tr td .signature-col-right tr:first-child td {
  padding-top: 24px;
}
#signature tbody tr td .signature-col-right tr:last-child td {
  padding-top: 16px;
}
#signature tbody tr td .signature-col-right tr td {
  padding: 0 24px 16px;
}
#signature tbody tr td .signature-col-right tr td .signature-icons {
  display: inline-block;
  width: 16px;
  margin-right: 16px;
  vertical-align: middle;
}
#signature tbody tr td .signature-col-right tr td .signature-icons + span {
  display: inline-block;
}
#signature tbody tr td .signature-col-right tr td .company-logo {
  width: 75px;
}
#signature tbody tr td .signature-col-right2 {
  background: #212121;
}
#signature tbody tr td .signature-col-right2 img {
  height: 218px;
  width: 52px;
}

#app {
  display: flex;
  align-items: center;
  min-height: 100vh;
  height: 100%;
  background: #eee;
}
#app a {
  color: #fff;
}

/*# sourceMappingURL=theme.css.map */
