// Variables
@import "variables";
// Fonts
@import "fonts";
// Typography
@import "typography";
// Placeholders
// Components
@import "components/button";
@import "components/form";
@import "components/signature";

// Pages

// App

#app {
  display: flex;
  align-items: center;
  min-height: 100vh;
  height: 100%;
  background: #eee;

  a {
    color: #fff;
  }
}